@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yepcsw');
  src:  url('fonts/icomoon.eot?yepcsw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yepcsw') format('truetype'),
    url('fonts/icomoon.woff?yepcsw') format('woff'),
    url('fonts/icomoon.svg?yepcsw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e90d";
}
.icon-audio:before {
  content: "\e911";
}
.icon-video:before {
  content: "\e913";
}
.icon-document:before {
  content: "\e926";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-download:before {
  content: "\e960";
}
.icon-upload:before {
  content: "\e961";
}
.icon-save:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-chat:before {
  content: "\e96d";
}
.icon-user:before {
  content: "\e971";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-key:before {
  content: "\e98d";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9bb";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-table:before {
  content: "\ea71";
}
.icon-ltr:before {
  content: "\ea74";
}
.icon-rtl:before {
  content: "\ea75";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-indent-increase:before {
  content: "\ea7b";
}
.icon-indent-decrease:before {
  content: "\ea7c";
}
.icon-code:before {
  content: "\ea7f";
}
.icon-code2:before {
  content: "\ea80";
}
.icon-github:before {
  content: "\eab0";
}
