@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black bg-gray-100 dark:text-white dark:bg-gray-900
    }

    input, textarea {
        @apply text-black bg-gray-200 dark:text-white dark:bg-gray-700 p-2
    }
}

@layer components {
    .btn {
        @apply px-2 py-1 bg-indigo-600 text-white hover:bg-indigo-800 focus:outline-none
    }

    .link {
        @apply text-blue-600 dark:text-pink-500 hover:underline
    }

    .separator {
        @apply h-0 w-1/2 my-2 mx-auto border-b border-gray-500
    }
    .showdownResult ul {
        @apply list-disc pl-6
    }
    .showdownResult ol {
        @apply list-decimal ml-6
    }
    .showdownResult h1 {
        @apply text-3xl ml-1 my-3
    }
    .showdownResult h2 {
        @apply text-2xl ml-1 my-2
    }
    .showdownResult h3 {
        @apply text-xl ml-1 my-1
    }
    .showdownResult h4 {
        @apply text-lg ml-1 my-1
    }
    .showdownResult h5, .showdownResult h6 {
        @apply my-1
    }
    .showdownResult p {
        @apply ml-1 my-0.5 text-justify
    }
    .showdownResult a {
        @apply link my-0.5
    }
    .showdownResult blockquote {
        @apply ml-2 border-l border-black dark:border-gray-200 my-0.5
    }
    .showdownResult code {
        font-family: Inconsolata, monospace;
    }
    .showdownResult pre {
        @apply mx-1 my-0.5
    }
    .showdownResult pre code {
        @apply block w-full p-1 bg-gray-200 dark:bg-gray-600 my-0.5 overflow-x-auto
    }
    .showdownResult :not(pre) code {
        @apply inline-block px-1 bg-gray-200 dark:bg-gray-600 rounded-lg
    }
    .showdownResult img {
        max-width: calc(100% - 0.5rem) !important;
        @apply mx-1
    }
    .showdownResult table {
        @apply mx-1
    }
    .showdownResult td, .showdownResult th {
        @apply p-1
    }
    .showdownResult table tr :not(:last-child) {
        @apply border-r border-black dark:border-gray-200
    }
    .showdownResult table thead {
        @apply border-b border-black dark:border-gray-200
    }
    .showdownResult input[type=checkbox] {
        margin-left: 0.25rem !important;
    }
}

.transition-menu {
    transition: left 500ms;
}

.transition-main {
    transition: margin 500ms;
}
